<html>
    <head>
        {{ partial "styles.html" }}
        
    </head>
    <body id="user-interface">
        <div class="mailbox-header">
            {{ partial "mailbox_header" }}
        </div>

        <div class="mailbox-wrapper">
            <div class="mailbox-folders">
                {{ partial "mailbox_folders" }}
            </div>
            <div class="mailbox-messages">
                {{ partial "mailbox_messages" }}
            </div>
        </div>
        {{ partial "scripts.html" }}
    </body>
</html>