/* Login Page */

#login_panel {
    width: 506px;
    height: 486px;
    background-color: gray;
    background-image: url('/img/outlook_login_blank.png');
    margin: auto;
    margin-top: 100px;   
}

#loginUsername {
    
}

#login_security{
    position: relative;
    top: 122px;
    left: 58px;
}
input.outlook-gui {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding: 2px;
    background-color: #fff3c0;
    height: 30px;
    border: 2px solid darkgray;
    margin-bottom: 5px;
}

#login_credentials {
    position: relative;
    top:152px;
    left: 58px;
}

.outlook-text {
    display: table-row;
    float:none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    vertical-align: middle;
}

.cell-left {
    display: table-cell;
    float: left;
    width: 160px;
    vertical-align: middle;
}

.cell-right {
    display: table-cell;
    float: right;
}

.sign_in_button {
    margin-top: 10px;
    text-align: right;
}

.sign_in_button button {
    background-color: #eb9c12 ;
    color: white;
    border: 0;
    height: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    padding: 6px 17px 6px 17px;
}

.login-security {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}

.login-security a {
    color: #ff6c00;
}

.security-row {
    margin-bottom: 10px;
}

.connected-text {
    position: relative;
    left: 58;
    top: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.connected-text .large {
    font-size: 16px;
}

.connected-text .small {
    font-size: 10px;
}

.hidden {
    display: none;
}

/* mailbox page */
body {
    margin:0;
    padding:0;
}

.mailbox-header {
    background-color: whitesmoke;
    height:  5vh;
    width: 100%;
}

.mailbox-wrapper {
    display: grid;
    grid-template-columns: minmax(150px, 25%) 1fr;
}

.mailbox-folders {
    background-color: white;
    height: 95vh;
}

.mailfolders {
    padding: 10px;
    margin: 4px;
    border-right: lightgray 2px solid;
    border-top: lightgray 2px solid;
    height: 95vh;
}

.mailbox-messages {

    border-left: lightgray 2px solid;
    border-top: lightgray 2px solid;
    margin-top: 4px;
}

.mailbox {
    padding: 10px;
}

.maillist {
    width: 30%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.mnu_file {
    float: left;
    width: 18%;
   
}
.mnu_delete {
    float: left;
}
.mnu_move {
    float: left;
}
.mnu_filter {
    float: left;
}
.mnu_view {
    float: left;
}
.mnu_refresh {
    float: right;
    width: 10%;
}

.searchbox {
    padding 5px;
}

input.searchbox {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    margin-top:10px;
}

input.searchbox::placeholder {
    color:dodgerblue;
    font-weight: bolder;
    font-style: italic;
}

.mnu {
    width: 15%;
    background-color: #fff;
    text-align: center;
    padding: 5px;
    font-size: 1.3em;
    font-weight: bolder;
}
.mnu a:link {
    text-decoration: none;
    color:aqua;
}

.mnu a:visited {
    text-decoration: none;
    color:aqua;
}

a.jstree-anchor {
    font-family: Arial, Helvetica, sans-serif !important;
}