<div class="mailbox">
    <div class="maillist">
        <div class="maillist_header">
            <div class="menu">
                <div class="mnu_file mnu"><a href="#">File <i class="fas fa-chevron-down"></i></a></div>
                <div class="mnu_delete mnu"><a href="#">Delete <i class="fas fa-chevron-down"></i></a></a></div>
                <div class="mnu_move mnu"><a href="#">Move <i class="fas fa-chevron-down"></i></a></div>
                <div class="mnu_filter mnu"><a href="#">Filter <i class="fas fa-chevron-down"></i></a></div>
                <div class="mnu_view mnu"><a href="#">View <i class="fas fa-chevron-down"></i></a></div>
                <div class="mnu_refresh"></div>
            </div>
            <div class="searchbox">
                <input type="text" class="searchbox" placeholder="Search Entire Mailbox">
            </div>
            
            <div class="maillist_container" id="maillist_container">
            
                
            </div>
        </div>
        
    </div>
    <div class="mailmessage" Id="mailmessage">
        
    </div>
</div>