<div class="appheader">
    <div class="leftside">
        <img src="/img/bsb_lockpick_logo.png" class="logo_image">  
    </div>
    <div class="rightside">
        <div class="social">
            <a href="https://twitter.com/bsidesboulder?lang=en" class="twitter" target="_blank">
                <i class="fab fa-twitter-square"></i>
            </a>
            <a href="https://www.youtube.com/channel/UCRUmseZMk79gcQdNga3DEHQ" class="youtube" target="_blank">
                <i class="fab fa-youtube-square"></i>
            </a>

            <button id="btnSignOut">Sign Out</button>
        </div>
    </div>
</div>

<!-- Global State -->
<input type='hidden' id="datafeed" value="/data/mail.json" />