<div class="mailbox">
    <div class="maillist">
        <div class="maillist_header">
            <div class="menu">
                <div class="mnu_file"><a href="#">File</a></div>
                <div class="mnu_delete"><a href="#">Delete</a></a></div>
                <div class="mnu_move"><a href="#">Move</a></div>
                <div class="mnu_filter"><a href="#">Filter</a></div>
                <div class="mnu_view"><a href="#">View</a></div>
                <div class="mnu_refresh"></div>
            </div>
            <div class="searchbox">
                <input type="text" class="searchbox">
            </div>
        </div>
        <div class="maillist_row">
            <div class="maillist_row_image"></div>
            <div class="maillist_row_category"></div>
            <div class="maillist_row_subject"></div>
            <div class="maillist_row_sender"></div>
        </div>

    </div>
    <div class="mailmessage">

    </div>
</div>