<div class="mailbox">
    <div class="maillist">
        <div class="maillist_header">
            <div class="menu">
                <div class="mnu_file mnu"><a href="#">File</a></div>
                <div class="mnu_delete mnu"><a href="#">Delete</a></a></div>
                <div class="mnu_move mnu"><a href="#">Move</a></div>
                <div class="mnu_filter mnu"><a href="#">Filter</a></div>
                <div class="mnu_view mnu"><a href="#">View</a></div>
                <div class="mnu_refresh"></div>
            </div>
            <div class="searchbox">
                <input type="text" class="searchbox" placeholder="Search Entire Mailbox">
            </div>
        </div>
        <div class="maillist_row">
            <div class="maillist_row_image"></div>
            <div class="maillist_row_category"></div>
            <div class="maillist_row_subject"></div>
            <div class="maillist_row_sender"></div>
        </div>

    </div>
    <div class="mailmessage">

    </div>
</div>